@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
/* Header */

body {
    font-family: 'Noto Sans Japanese', sans-serif;
}

h1.site-title {
    font-size: 2.1rem;
}

h1 {
    font-size: 2.3em;
}

.tag {
    display: inline;
}