<nav class="panel">
    <p class="panel-heading">
        Latest Posts
    </p>
    {{ range first 10 .Site.RegularPages }}
    <a class="panel-block"  href="{{ .Permalink }}"><span class="panel-icon"><i class="fa fa-book"></i></span>{{ .Title }}</a>
    {{ end }}
</nav>

<nav class="panel">
    <p class="panel-heading">
        Category
    </p>
    {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
    <a class="panel-block"  href="{{ $.Site.BaseURL}}{{ "categories" | urlize }}/{{ $name | urlize }}"><span class="panel-icon"><i class="fa fa-folder"></i></span>{{ $name }}</a>
    {{ end }}
</nav>

<nav class="panel">
    <p class="panel-heading">
        Tag
    </p>
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
    <a class="panel-block"  href="{{ $.Site.BaseURL}}{{ "tags" | urlize }}/{{ $name | urlize }}"><span class="panel-icon"><i class="fa fa-tag"></i></span>{{ $name }}</a>
    {{ end }}
</nav>
    